# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = higa on macbook air
email = dummy@dummy.dummy.dummy
[alias]
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short

